<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="women" class="com.powernode.spring.bean.Women">
        <property name="name" value="小花"></property>
    </bean>
    <bean id="women2" class="com.powernode.spring.bean.Women">
        <property name="name" value="小红"></property>
    </bean>
    <bean id="women3" class="com.powernode.spring.bean.Women">
        <property name="name" value="小美"></property>
    </bean>

    <bean id="yuQian" class="com.powernode.spring.bean.QianDaYe">
        <property name="aihaos">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>

        <!--这个数组当中的类型不是简单类型了-->
        <property name="womens">
            <array>
                <ref bean="women"/>
                <ref bean="women2"/>
                <ref bean="women3"/>
            </array>
        </property>
    </bean>
</beans>